/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #404040;
  color: #eee;
  font-family: 'FreeUniversal', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

dt {
  float:left;
  clear: left;
}

dt:after {
  content: ": ";
  margin-right: 0.5em;
}

dd {
  float: left;
}


#container {
  position: relative;
}

#switches {
  position: absolute;
  top: 0;
  left: 320px;
  width: 640px;
  padding-top: 10px;
  height: 30px;
}

#switches li {
  float: left;
  margin-right: 2em;
}

#score .score {
  font-size: 2em;
}

#score .number {
  font-size: 3em;
}

#legend {
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 320px;
  right: 0;
  padding: 5px 0 5px 15px;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 20px 0 20px;
  width: 280px;
  height: 460px;
}

#score {
  margin-bottom: 2em;
}

#map {
  position: absolute;
  top: 40px;
  left: 320px;
  right: 0px;
  bottom: 40px;
}

#legend i {
	width: 15px;
	height: 15px;
  float: left;
	margin-right: 8px;
	opacity: 1;
}

#legend ol {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

#legend li {
  float: left;
  margin-right: 1em;
}

#info {
  padding: 6px 8px;
  background: rgba(64,64,64,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  float: right;
  position: relative;
  margin: 0px 10px 0 0;
}

.leaflet-container .leaflet-control-attribution {
  padding: 3px 4px;
  background: rgba(64,64,64,0.8) !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
  border-radius: 5px 0 0 0;
  color: #eee;
}

.leaflet-container .leaflet-control-attribution a {
  color: #eee;
}

  .leaflet-container .leaflet-control-zoom-in, .leaflet-container .leaflet-control-zoom-out {
  background-color: #404040 !important;
  color: #eee;
}

.leaflet-container .leaflet-control-zoom-in:hover, .leaflet-container .leaflet-control-zoom-out:hover {
  background-color: #606060 !important;
  color: #eee;
}

.clear {
  clear: left;
}

.clear.right {
  clear: right;
}

.clear.both, .clear.left.right {
  clear: both;
}

