body {
  background-color: #c6c6c6;
  color: #333;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: 'FreeUniversal', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

#container {
  width: 960px;
  height: 540px;
}

#switches {
  height: 40px;
}

#metric-switch {
  height: 15px;
  margin-top: 12px;
  width: 480px;
  margin-left: 320px;
}

#legend {
  height: 20px;
  padding: 5px 0 5px 15px;
}

#map {
  width: 100%;
  height: 460px;
}

#legend i {
	width: 15px;
	height: 15px;
  float: left;
	margin-right: 8px;
	opacity: 1;
}

#legend ol {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

#legend li {
  float: left;
  margin-right: 1em;
}
