body {
  background-color: #404040;
  color: #eee;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: 'FreeUniversal', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

#container {
  width: 960px;
  height: 540px;
  position: relative;
}

#switches {
  position: absolute;
  top: 0;
  left: 320px;
  width: 640px;
  padding-top: 10px;
  height: 30px;
}

#switches li {
  float: left;
  margin-right: 2em;
}

#score .score {
  font-size: 2em;
}

#score .number {
  font-size: 3em;
}

#legend {
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 320px;
  right: 0;
  padding: 5px 0 5px 15px;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 20px 0 20px;
  width: 280px;
  height: 460px;
}

#sidebar > div {
  margin-bottom: 2em;
}

#map {
  position: absolute;
  top: 40px;
  left: 320px;
  width: 640px;
  height: 460px;
}

#legend i {
	width: 15px;
	height: 15px;
  float: left;
	margin-right: 8px;
	opacity: 1;
}

#legend ol {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

#legend li {
  float: left;
  margin-right: 1em;
}

#info {
  padding: 6px 8px;
  background: rgba(64,64,64,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  float: right;
  position: relative;
  margin: 10px;
}
